<h2>Profile info</h2>
<div id="user-info" class="user-info">
  <p>Name of user: {{viewData.name}}</p>
  <p>Username: {{viewData.username}}</p>
  <p>UserID: {{viewData.userId}}</p>
  <p>Last activity: {{viewData.lastActivity}}</p>
  <img src={{viewData.userAvatar}} alt="user-avatar">
</div>