<h2>Profile info</h2>
<div id="user-info" class="user-info">
  <img src={{viewData.userAvatar}} alt="user-avatar">
  <p>Name of user: {{viewData.name}}</p>
  <p>Username: {{viewData.username}}</p>
  <p>UserID: {{viewData.userId}}</p>
  <p>Email: {{viewData.userEmail}}</p>
  <p>Last activity: {{viewData.lastActivity}}</p>
</div>

<button>See lastest activity</button>